.right {
  height: 20px;
  width: 40px;
}
.box {
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(243, 245, 253);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.col div {
  font-size: 24px;
  font-weight: 600;
}
#starting {
  font-size: 30px;
  font-weight: 700;
}

.signup-2 {
  margin-left: 7%;
  margin-right: 7%;
  padding: 5%;
  text-align: center;
  justify-content: center;
  background-color: rgb(243, 245, 253);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* App.css */
.custom-blue-outline {
  color: #007bff; /* Blue color */
  border-color: #007bff; /* Blue color */
}
.custom-blue-outline:hover {
  color: #0056b3; /* Darker shade of blue for hover effect */
  background-color: transparent; /* Keep the background transparent on hover */
  border-color: #0056b3; /* Darker shade of blue for hover effect */
}
/* * {
  border: 1px solid red;
} */
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.homeCard {
  background-color: rgb(243, 245, 253);
  border-radius: 50px;
  height: 30vh;
}
.navbar {
  background-color: #2134b7;
  color: white;
}
.btn-login {
  margin: 10px;
}

.mt-5 {
  font-size: 24px;
  font-weight: 700;
}

.LNbtn {
  margin-left: 1000px;
}

.list-group {
  width: 200px;
  margin-top: 80px;
  margin-right: 80px;
  display: block;
}

.outer {
  /* border: 5px solid black; */
  margin: 8%;
}
.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0056b3;
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #0056b3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
.row > h2 {
  color: #0056b3;
}
.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
form {
  padding: 0 2em;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border-bottom-color: #0056b3;
  box-shadow: 0 0 5px #0056b3;
  border-radius: 4px;
}
.btnLogin {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: white; /* Default color */
  font-weight: 600;
  background-color: #0056b3; /* Default background color */
  border: 1px solid #0056b3;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.btnLogin:hover {
  background-color: darkblue;
  color: #fff;
}
.containerClientProfile {
  box-shadow: 0px 8px 8px #0056b3;
  border: 2px solid #0056b3;
  width: 80%;
  border-radius: 10px;
}
/* .DP {
} */
/* * {
  border: 2px solid red;
} */

.satyam {
  display: flex;
  justify-content: center; /* Horizontal center alignment */
  align-items: center; /* Vertical center alignment */
  height: 75vh; /* Adjust the height of the container as needed */
  background-color: #0056b3;
  border-radius: 50px;
}
.satyam2 {
  display: flex;
  justify-content: center; /* Horizontal center alignment */
  align-items: center; /* Vertical center alignment */
  height: 40vh; /* Adjust the height of the container as needed */
  background-color: #0056b3;
  border-radius: 50px;
}

.complaint-form {
  /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
}

/* Add this CSS to your existing stylesheet */
.complaint-form input[type="text"] {
  white-space: nowrap;
}
.btn-cmpln {
  margin-left: 160px;
}
